{% extends "layout.html" %}

{% block mainContent %}

  <h2>About Us</h2>
  
  <div class="aboutdiv">
      
  <h4 style = text-align:left;margin-left:30px;>
    <img id ="joyous-heron-headshot" src="http://portal.som.yale.edu/sites/default/files/styles/yale_portal_profile_image/public/profile_pictures_default/bst9.jpg?itok=tbS_jkA2"  height = 200px> 
  <div class="biodiv">
  <p><br><br><span id="joyous-heron-name">Ben Tripp</span> is a second-year student at Yale SOM.</p>
 </div>
 </h4>

 </div>
 
 <div class="aboutdiv">
      
  <h4 style = text-align:left;margin-left:30px;>
    <img id ="perfect-eagle-headshot" src="http://portal.som.yale.edu/sites/default/files/styles/yale_portal_profile_image/public/profile_pictures_default/tbg3.jpg?itok=UrGN6AWW"  height = 200px> 
  <div class="biodiv">
  <p><br><br><span id="perfect-eagle-name">Tyler Godoff</span> is a second-year student at Yale SOM.</p>
 </div>
 </h4>

 </div>
 
  <div class="aboutdiv">
      
  <h4 style = text-align:left;margin-left:30px;>
    <img id ="odd-nightingale-headshot" src="http://portal.som.yale.edu/sites/default/files/styles/yale_portal_profile_image/public/profile_pictures/jst48.jpg?itok=qJqlWQDQ"  height = 200px> 
  <div class="biodiv">
  <p><br><br><span id="odd-nightengale-name">James Tippets</span> is a second-year student at Yale SOM.</p>
 </div>
 </h4>

 </div>

  <div class="aboutdiv">
      
  <h4 style = text-align:left;margin-left:30px;>
    <img id ="aggressive-locust-headshot" src="http://portal.som.yale.edu/sites/default/files/styles/yale_portal_profile_image/public/profile_pictures_default/vsv5.jpg?itok=HS4jtJmB"  height = 200px> 
  <div class="biodiv">
  <p><br><br><span id="aggressive-locust-name">Vivek Vakil</span> is a second-year student at Yale SOM.</p>
 </div>
 </h4>

 </div>
 
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71173659-1', 'auto');
  ga('send', 'pageview');
</script>
  
  

{% endblock %}

