{% extends "layout.html" %}

{% block mainContent %}
  <p>This is the about us page</p>
 <span id="joyous-heron-name">Ben Tripp</span>
 <p>
    <img id ="ben" src="http://portal.som.yale.edu/sites/default/files/styles/yale_portal_profile_image/public/profile_pictures_default/bst9.jpg?itok=tbS_jkA2">
  </p>
 <p><span id="perfect-eagle-name">Tyler Godoff</span></p>
 <p>
    <img id ="Tyler" src="http://portal.som.yale.edu/sites/default/files/styles/yale_portal_profile_image/public/profile_pictures_default/tbg3.jpg?itok=UrGN6AWW">
  </p>
 <p><span id="odd-nightingale-name">James Tippets</span></p>
 <p>
    <img id ="James" src="http://portal.som.yale.edu/sites/default/files/styles/yale_portal_profile_image/public/profile_pictures/jst48.jpg?itok=qJqlWQDQ">
  </p>
 <span id="aggressive-locust-name">Vivek Vakil</span>
 <p>
    <img id ="vivek" src="http://portal.som.yale.edu/sites/default/files/styles/yale_portal_profile_image/public/profile_pictures_default/vsv5.jpg?itok=HS4jtJmB">
  </p>

{% endblock %}

