<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
    <style>
      body {
    background-image: url("http://thepaperwall.com/wallpapers/music/big/big_c4e09d3a7f9ee18c486b00dd11676c24b416c541.jpg");
}
     
    </style>
  </head>

	<body class="container">

    {% block header %}
      <header></header>
    {% endblock %}

    {% block mainContent %}
      <section>Welcome to {{ title }}. {{tagline}}</section>
    {% endblock %}

    {% block footer %}
      <footer>
      <a href="/">Home</a> &gt; <a href="/about">About Us</a>
      </footer>
    {% endblock %}

  </body>
</html>