body {
  background-image: url("http://thepaperwall.com/wallpapers/music/big/big_c4e09d3a7f9ee18c486b00dd11676c24b416c541.jpg");
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  color: darkorange;
}

a {
  color: yellow;
}

.form-errors {
	color: blue;
}

.event-creation{
  width:175px;
  height:30px;
  background-color: white;
  padding: .25em;
  border: 1px solid black;
  margin: 2em 0;
}

.event-selection{
  width:500px;
  height:30px;
  background-color: white;
  padding: .25em;
  border: 1px solid black;
  margin: 2em 0;
}

.tripp{
  text-align:center;
  width:500px;
  height:400px;
  background-color: white;
  padding: .25em;
  border: 1px solid black;
  margin: 2em 0;
}

footer{
  width:175px;
  height:40px;
  background-color: white;
  padding: 1em;
  border: 1px solid black;
  margin: 2em 0;
}